* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}
body {
  margin-bottom: 150px;
}

.gallery-pane {
  width: 80%;
  height: fit-content;
  margin-inline: auto;
  padding: 8vh 0 8vh 0;

  position: relative;
  background-image: url("gallery-img/gallery-bg.jpg");
  background-repeat: repeat;
}

.textbox,
.imgbox {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-section {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 80vh;
}
.section-img {
  line-height: 0px;
  background-color: white;
  padding: 10px;
  box-shadow: 3px 3px 20px black, inset 0px 0px 3px black;

  transition: all 0.1s ease-in-out;
}
.caption {
  background-color: rgba(0, 255, 255, 0.5);
  z-index: 0;
}
.section-desc {
  font: 425 1.2rem "Brush Script MT", "Brush Script Std", cursive;
  text-align: justify;

  filter: drop-shadow(5px 5px 10px black);

  padding: 3px 8px 0px 8px;
  line-height: 31.5px;
  height: fit-content;

  transition: all 0.1s ease-in-out;
}
.section-desc-title {
  font-size: calc(1rem + 31.5px);
  font-weight: 530;
  line-height: 63px;
  margin-bottom: 4px;
}

#section-img1 {
  transform: rotate(-5deg);
}
#section-img1:hover {
  transform: rotate(5deg);
  transform: scale(1.1);
}
#img1 {
  width: 30vw;
  height: 20vw;
}
#section-desc1 {
  background-image: url("gallery-img/gallery-textbg.jpg");
  background-repeat: repeat;
  transform: rotate(3deg);
  width: 30vw;
}
#section-desc1:hover {
  transform: rotate(-3deg);
  transform: scale(1.1);
}

#section-img2 {
  transform: rotate(10deg);
}
#section-img2:hover {
  transform: rotate(-10deg);
  transform: scale(1.1);
}
#img2 {
  width: 30vw;
  height: 20vw;
}
#section-desc2 {
  background-color: rgb(186, 221, 210);
  transform: rotate(-8deg);
  width: 30vw;
}
#section-desc2:hover {
  transform: rotate(8deg);
  transform: scale(1.1);
}

#section-img3 {
  transform: rotate(-7deg);
}
#section-img3:hover {
  transform: rotate(7deg);
  transform: scale(1.1);
}
#img3 {
  width: 30vw;
  height: 20vw;
}
#section-desc3 {
  background-color: rgb(221, 140, 151);
  transform: rotate(4deg);
  width: 30vw;
}
#section-desc3:hover {
  transform: rotate(-4deg);
  transform: scale(1.1);
}

#section-img4 {
  transform: rotate(8deg);
}
#section-img4:hover {
  transform: rotate(-8deg);
  transform: scale(1.1);
}
#img4 {
  width: 30vw;
  height: 20vw;
}
#section-desc4 {
  background-color: rgb(160, 162, 191);
  transform: rotate(-4deg);
  width: 30vw;
}
#section-desc4:hover {
  transform: rotate(4deg);
  transform: scale(1.1);
}
