
html,
body {
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
}
body {
  background-color: grey;
}

hr {
  width: 50%;
  height: 1ch;
  margin: 5vh auto 5vh auto;

  background-color: #553f22;
  box-shadow: 0px 0px 10px black;

  transition: width 0.5s linear;
}
.hr-hide {
  width: 0;
}
.scroll-fade-hide {
  opacity: 0;
}

.cover {
  

  background: black;
  position: relative;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s linear, visibility 0.5s linear;
}


.gallery-title {
  font: 800 min(5rem, 10vw)  "Helvetica", cursive;
  color: rgb(255, 219, 166);
  text-align: center;

  padding: 10px 0 10px 0;
  margin-inline: auto;

  text-shadow: 0px 0px 15px rgb(255, 146, 29);
}
.gallery-pane {
  width: 95vw;
  height: fit-content;
  padding: 0 0 10vh 0;
  margin: 3rem auto 3rem auto;
  border: 1rem solid transparent;

  border-image: url("Pictures/gallery-frame.jpg") 25% repeat;
  background-image: url("Pictures/gallery-bg.jpg");

  background-repeat: repeat;
  box-shadow: 0px 0px 25px black, inset 3px 3px 10px black, inset -3px -3px 10px black;
}


.section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  width: 100%;
  height: fit-content;
  margin: 5vh 0 0 0;

  transition: opacity 1s linear;
}


.textbox,
.imgbox {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;

  height: min(60vh, 50%);
  margin: 5vh auto 5vh auto;
}


.section-img {
  line-height: 0;
  background-color: white;

  z-index: 2;
  padding: 0.5rem;

  box-shadow: 3px 3px 20px black, inset 0px 0px 3px black;

  transition: transform 0.25s ease-in-out;
}
.section-img:hover{
  cursor: pointer;
}
.img-cont {
  max-width: 35vw;
  max-height: 50vh;
}


.section-desc {
  font: 425 1.2rem  "Helvetica", cursive;
  line-height: min(8vh, 31.5px);

  min-width: 16ch;
  width: min(75%, 50ch);
  height: fit-content;

  z-index: 2;

  filter: drop-shadow(5px 5px 10px black);
  transition: transform 0.25s ease-in-out;
}
.section-desc:hover{
  cursor: pointer;
}
.section-desc-title {
  font-size: max(16px, 1.5rem);
  font-weight: 700;
  line-height: min(16vh, 31.5px);
  margin-bottom: 4px;
}
.section-desc-content {
  padding: 3px 8px 0px 8px;
  
  max-height: 45vh;
  height: fit-content;
  overflow: hidden;
}
.readMore{
  padding: 3px 8px 0px 8px;

  color: blue;
}

.zoom {
  z-index: 15;
  position: fixed;

  max-height: 80vh;
  max-width: 80vw;

  width: fit-content;
  height: fit-content;

  opacity: 0;

  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

/*SECTIONS.CSS  */
#section-img1a {
  transform: rotate(-5deg);
}
#section-img1a:hover {
  transform: scale(1.1);
}

#section-img1b {
  transform: rotate(-5deg);
}
#section-img1b:hover {
  transform: scale(1.1);
}

#section-desc1 {
  background-image: url("Pictures/gallery-textbg.jpg");
  background-repeat: repeat;
  transform: rotate(3deg);
}
#section-desc1:hover {
  transform: scale(1.1);
}

#section-img2 {
  transform: rotate(10deg);
}
#section-img2:hover {
  transform: scale(1.1);
}

#section-desc2 {
  background-color: rgb(186, 221, 210);
  transform: rotate(-8deg);
}
#section-desc2:hover {
  transform: scale(1.1);
}

#section-img3 {
  transform: rotate(-7deg);
}
#section-img3:hover {
  transform: scale(1.1);
}

#section-desc3 {
  background-color: rgb(221, 140, 151);
  transform: rotate(4deg);
}
#section-desc3:hover {
  transform: scale(1.1);
}

#section-img4 {
  transform: rotate(8deg);
}
#section-img4:hover {
  transform: scale(1.1);
}

#section-desc4 {
  background-color: rgb(160, 162, 191);
  transform: rotate(-4deg);
}
#section-desc4:hover {
  transform: scale(1.1);
}